@import '../variables/setVariables'; // .footer-container {

.footer-container {
  height: 8vh;
  min-height: 8vh;
  background-color: $pr-orange-red;

  .footer-bar-logged {
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;

    a {
      width: 40px;
      color: $pr-orange-red;
      background-color: white;
      font-size: 16px;
      font-weight: bold;
      text-align: center;
      padding: 5px 7px;
      border-radius: 5px;
      -webkit-box-shadow: inset 0 0 5px -1px rgba(0,0,0,0.75);
      -moz-box-shadow: inset 0 0 5px -1px rgba(0,0,0,0.75);
      box-shadow: inset 0 0 5px -1px rgba(0,0,0,0.75);

      i {
        font-size: 16px;
      }
    }

    a:hover {
      color: white;
      background-color: $pr-orange-red;
      text-shadow: 0 1px 1px #4d4d4d;
    }
  }

  .footer-bar-not-logged {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;

    span {
      display: block;
      font-size: 11px;
      color: white;
    }

    a {
      display: block;
      font-weight: bold;
      font-size: 13px;
      color: white;
    }
  }
}
