$pr-light-gray: #D9DADE;
$pr-dark-gray: #2C3230;
$pr-medium-gray: #65727A;
$pr-vivid-red: #BC0100;
$pr-dark-red: #59BAB9;
$pr-orange-red: #F03C02;
$pr-red: #F78F20;
$pr-black: #0C0304;
$pr-green-signal: #BEED80;
$pr-white-broke: #F5F4E4;
$pr-green-login: #5CB85C;
